<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wms.admin.mapper.LeaseContractMapper">

    <resultMap id="contractDetail" type="com.wms.admin.vo.ContractVO">
        <id column="id" property="id"></id>
        <result column="contract_no" property="contractNo"></result>
        <result column="business_user" property="businessUser"></result>
        <result column="lessee_no" property="lesseeNo"></result>
        <result column="lessee_company" property="lesseeCompany"></result>
        <result column="lessee_address" property="lesseeAddress"></result>
        <result column="lessee_contact" property="lesseeContact"></result>
        <result column="lessee_phone" property="lesseePhone"></result>
        <result column="sign_date" property="signDate"></result>
        <result column="effective_date" property="effectiveDate"></result>
        <result column="expire_date" property="expireDate"></result>
        <result column="deposit" property="deposit" typeHandler="com.wms.admin.convertor.MoneyTypeHandler"></result>
        <result column="bill_method" property="billMethod"></result>
        <result column="stop_charge_fee_ratio" property="stopChargeFeeRatio"></result>
        <result column="penalty_fee_ratio" property="penaltyFeeRatio"></result>
        <result column="package_fee" property="packageFee" typeHandler="com.wms.admin.convertor.MoneyTypeHandler"></result>
        <result column="nums_per_package" property="numsPerPackage"></result>
        <result column="start_rent_weight" property="startRentWeight"></result>
        <result column="arrears_warring" property="arrearsWarring"></result>
        <collection property="list" ofType="com.wms.admin.vo.ContractProdVO">
            <id column="prod_id" property="prodId"></id>
            <result column="prod_no" property="prodNo"></result>
            <result column="prod_name" property="prodName"></result>
            <result column="unit_price" property="unitPrice" typeHandler="com.wms.admin.convertor.MoneyTypeHandler"></result>
            <result column="type" property="type"></result>
            <result column="unit_name" property="unitName"></result>
        </collection>
    </resultMap>

    <select id="contractDetail" resultMap="contractDetail">
        select
        c.id,
        c.contract_no,
        c.business_user ,
        c.lessee_no ,
        c.lessee_company ,
        c.lessee_address ,
        c.lessee_contact ,
        c.lessee_phone ,
        c.sign_date ,
        c.effective_date,
        c.expire_date,
        c.deposit,
        c.bill_method,
        c.status,
        c.stop_charge_fee_ratio,
        c.penalty_fee_ratio,
        c.package_fee,
        c.nums_per_package,
        c.start_rent_weight,
        c.arrears_warring,
        p.id prod_id,
        p.prod_no,
        p.prod_name,
        p.type,
        r.lease_unit_price unit_price,
        u.unit_name
        from t_wms_lease_contract c
        inner join t_wms_contract_prod_rel r on c.id = r.contract_id and r.del_flag='1'
        inner join t_wms_product p on p.id = r.prod_id and p.del_flag ='1'
        inner join t_wms_measurement_unit u on u.id = p.unit_id and u.del_flag ='1'
        where c.id =#{id}

    </select>

</mapper>
