<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wms.admin.mapper.LesseeInfoMapper">

    <resultMap id="detailMap" type="com.wms.admin.vo.LesseeInfoVO">
        <id column="id" property="id"/>
        <result column="lessee_no" property="lesseeNo"/>
        <result column="lessee_company" property="lesseeCompany"/>
        <result column="contact" property="contact"/>
        <result column="phone" property="phone"/>
        <collection property="list" ofType="com.wms.admin.vo.AddressVO">
            <id column="a_id" property="id"/>
            <result column="company_address" property="address"/>
            <result column="contact" property="contact"/>
            <result column="a_phone" property="phone"/>
            <result column="is_default" property="isDefault"/>
        </collection>
    </resultMap>

    <select id="lesseeDetail" parameterType="int" resultMap="detailMap">
        select l.id,l.lessee_no,l.lessee_company,l.contact,l.phone,
        a.id a_id,a.lessee_id,a.company_address ,a.contact,a.phone a_phone,a.is_default
        from t_wms_lessee_info l
        left join t_wms_lessee_address a on l.id = a.lessee_id and a.del_flag ='1'
        where l.del_flag ='1'
        and l.id = #{id}
    </select>

    <select id="lesseeAndAddressesPage" resultType="com.wms.admin.vo.LesseeInfoAndAddressesVO">
        select  l.lessee_no,l.lessee_company,a.company_address address ,a.contact,a.phone phone
        from t_wms_lessee_info l
        left join t_wms_lessee_address a on l.id = a.lessee_id and a.del_flag ='1'
        where l.del_flag ='1'
        <if test="param.contact!=null and param.contact!=''">
            and   a.contact like concat('%',#{param.contact},'%')
        </if>
        <if test="param.phone!=null and param.phone!=''">
            and   a.phone like concat('%',#{param.phone},'%')
        </if>
        <if test="param.lesseeNo!=null and param.lesseeNo!=''">
            and   a.lesseeNo like concat('%',#{param.lesseeNo},'%')
        </if>
    </select>

</mapper>
