<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wms.admin.mapper.MenuMapper">

    <sql id="selectRoleMenusSql">
        select
        m.id ,
        m.menu_name ,
        m.menu_code ,
        m.parent_id ,
        m.level_path ,
        m.level_no ,
        m.url ,
        m.seq ,
        m.type ,
        m.del_flag ,
        m.create_by ,
        m.create_time,
        m.update_by ,
        m.update_time,
        m.status ,
        m.icon ,
        m.hidden ,
        m.redirect ,
        m.path ,
        m.component
        from t_wms_menu m left join t_wms_role_menu rm on rm.menu_id=m.id and rm.del_flag ='1'

    </sql>

    <select id="roleMenus" resultType="com.wms.admin.entity.MenuEntity">
        <include refid="selectRoleMenusSql"></include>
        where m.del_flag ='1'
        and m.type in (0,1)
        and rm.role_id = #{roleId}
    </select>


    <select id="userMenus" resultType="com.wms.admin.entity.MenuEntity">
        <include refid="selectRoleMenusSql"></include>
        where m.del_flag ='1'
        and rm.role_id = #{roleId}
    </select>

</mapper>
