<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wms.admin.mapper.ProductMapper">


    <resultMap id="productVO" type="com.wms.admin.vo.ProductVO">
        <id column="id" property="id"></id>
        <result column="prod_no" property="prodNo"></result>
        <result column="prod_name" property="prodName"></result>
        <result column="type" property="type"></result>
        <result column="vendor_id" property="vendorId"></result>
        <result column="vendor_name" property="vendorName"></result>
        <result column="category_id" property="categoryId"></result>
        <result column="category_name" property="categoryName"></result>
        <result column="description" property="description"></result>
        <result column="update_by" property="updateBy"></result>
        <result column="update_time" property="updateTime"></result>
        <result column="unit_price"  property="unitPrice" typeHandler="com.wms.admin.convertor.MoneyTypeHandler"></result>
        <result column="unit_id" property="unitId"></result>
        <result column="unit_name" property="unitName"></result>
        <result column="category_unit_id" property="categoryUnitId"></result>
        <result column="category_unit_name" property="categoryUnitName"></result>
    </resultMap>

    <select id="productPage" parameterType="com.wms.admin.vo.ProductQueryVO" resultMap="productVO">
        select p.id,p.prod_no,p.prod_name,p.unit_price,p.type,v.id vendor_id,v.name vendor_name,
        c.id category_id,c.name category_name,p.description,p.update_by,p.update_time,
        u.id category_unit_id,u.unit_name category_unit_name,
        p.unit_id unit_id,u1.unit_name
        from t_wms_product p
        left join t_wms_prod_category c on p.category_id = c.id and c.del_flag='1'
        left join t_wms_vendor v on p.vendor_id = v.id and v.del_flag='1'
        left join t_wms_measurement_unit u on u.id = c.unit_id and u.del_flag ='1'
        left join t_wms_measurement_unit u1 on u1.id = p.unit_id and u1.del_flag ='1'
        where p.del_flag ='1'
        <if test="param.prodNo!=null and param.prodNo!=''">
            and   p.prod_no like concat('%',#{param.prodNo},'%')
        </if>
        <if test="param.prodName!=null and param.prodName!=''">
            and  p.prod_name like concat('%',#{param.prodName},'%')
        </if>
        <if test="param.vendorId!=null and param.vendorId!=''">
            and  p.vendor_id = #{param.vendorId}
        </if>
        order by update_time desc, prod_no asc
    </select>

    <select id="findByProdNo" resultMap="productVO">
        select p.id prod_id,p.prod_no,p.prod_name,p.type,p.unit_price,
        v.id vendor_id,v.name vendor_name
        from t_wms_product p
        left join t_wms_vendor v on p.vendor_id = v.id and v.del_flag='1'
        where p.del_flag ='1'
        and  p.prod_no =#{prodNo}
    </select>
</mapper>
