<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wms.admin.mapper.RoleMenuMapper">
    <select id="roleResources" resultType="string">
        select
        m.menu_code
        from t_wms_menu m left join t_wms_role_menu rm on rm.menu_id=m.id and rm.del_flag ='1'
        where m.del_flag ='1'
        and m.type =2
        and rm.role_id = #{roleId};
    </select>
    <select id="rolePermissions" resultType="com.wms.admin.auth.PermissionResource">
        select
        m.menu_code,
        m.url
        from t_wms_menu m left join t_wms_role_menu rm on rm.menu_id=m.id and rm.del_flag ='1'
        where m.del_flag ='1'
        and m.type =2
        and rm.role_id = #{roleId};
    </select>

</mapper>
