<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wms.admin.mapper.TakeInRecordMapper">
    <resultMap id="takeInDetail" type="com.wms.admin.vo.TakeInVO">
       <id property="id" column="id"/>
        <result column="take_in_no" property="takeInNo"/>
        <result column="take_in_type" property="takeInType"/>
        <result column="business_user" property="businessUser"/>
        <result column="contract_no" property="contractNo"/>
        <result column="contact" property="contact"/>
        <result column="phone" property="phone"/>
        <result column="contract_company" property="contractCompany"/>
        <result column="load_fee" property="loadFee" typeHandler="com.wms.admin.convertor.MoneyTypeHandler"/>
        <result column="ship_fee" property="shipFee" typeHandler="com.wms.admin.convertor.MoneyTypeHandler"/>
        <result column="unload_fee" property="unloadFee" typeHandler="com.wms.admin.convertor.MoneyTypeHandler"/>
        <result column="pile_fee" property="pileFee" typeHandler="com.wms.admin.convertor.MoneyTypeHandler"/>
        <result column="others_fee" property="othersFee" typeHandler="com.wms.admin.convertor.MoneyTypeHandler"/>
        <result column="total_fee" property="totalFee" typeHandler="com.wms.admin.convertor.MoneyTypeHandler"/>
        <result column="status" property="status"/>
        <result column="prod_types" property="prodTypes"/>
        <collection property="list" ofType="com.wms.admin.vo.TakeInProdVO">
            <id column="prod_id" property="prodId"/>
            <result column="type" property="type"/>
            <result column="prod_no" property="prodNo"/>
            <result column="prod_name" property="prodName"/>
            <result column="unit_name" property="unitName"/>
            <result column="prod_amount" property="prodAmount"/>
            <result column="unit_price" property="unitPrice" typeHandler="com.wms.admin.convertor.MoneyTypeHandler"/>
            <result column="category_id" property="categoryId"/>
            <result column="category_name" property="categoryName"/>
            <result column="category_unit_name" property="categoryUnitName"/>
        </collection>
    </resultMap>

    <select id="takeInDetail" resultMap="takeInDetail">
        select r.id,
        r.take_in_no ,
        r.take_in_type ,
        r.business_user ,
        r.contract_no ,
        r.contact ,
        r.phone ,
        r.contract_company ,
        r.prod_types ,
        r.unload_fee ,
        r.pile_fee ,
        r.others_fee ,
        r.total_fee ,
        r.take_in_time ,
        r.status ,
        p.id prod_id,
        p.type,
        rd.prod_no ,
        rd.prod_name ,
        rd.prod_unit ,
        pu.unit_name ,
        rd.prod_amount ,
        rd.unit_price ,
        c.id category_id ,
        c.name category_name,
        cu.unit_name category_unit_name
        from t_wms_take_in_record r
        inner join t_wms_take_in_detail rd on r.take_in_no = rd.take_in_no and rd.del_flag ='1'
        inner join t_wms_product p on p.prod_no = rd.prod_no and p.del_flag ='1'
        inner join t_wms_prod_category c on p.category_id = c.id and c.del_flag ='1'
        inner join t_wms_measurement_unit cu on cu.id = c.unit_id and cu.del_flag ='1'
        inner join t_wms_measurement_unit pu on pu.id = p.unit_id and pu.del_flag ='1'
        where r.del_flag ='1'
        and r.id =#{id}

    </select>

</mapper>
